<<<<<<< HEAD
body {
    font-family: -Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.col-lg-12 {
    margin: 2em;
    width: 20%;
}
input {
    margin-bottom: 1em;
}
.form-control {
    background-color: rgb(219, 219, 219);
=======
body {
    font-family: -Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.col-lg-12 {
    margin: 2em;
    width: 20%;
}
input {
    margin-bottom: 1em;
}
.form-control {
    background-color: rgb(219, 219, 219);
>>>>>>> 4dd7b61 (maj)
}